.app {
  font-family: 'Tajawal', sans-serif;
  padding-top: 20px;
  margin: 0 auto;
  max-width: 800px;
}

a:hover, a:focus {
  text-decoration: none;
}

div {
  color: grey;
}

img {
	max-width: 100%;
}

.header a {
  color: #3F3F3F;
}

.header a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar {
  padding-top: 10px;
}

.nav-bar .links {
  float: right;
}

.nav-bar .links .link a {
  color: grey;
  margin-left: 40px;
}

.nav-bar .links .link a:hover {
  color: black;
}

.container-fluid {
  padding: 0;
}

.placeholder {
  background: url(./projects/PhotoPage/placeholder.png) no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  width: 100%;
  padding-top: 66%;
  margin-bottom: 20px;
}

@keyframes opacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.3;
  }
  100 {
    opacity: 0.4;
  }
}

.image-container {
  transition: .2s ease;
  margin-bottom: 20px;
  position: relative;
}

.image-container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.image-container:hover .project-text-container {
  opacity: 1;
}

.col-sm-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-page {
  text-align: center;
  margin-top: 100px;
}

.contact-page div {
  margin-bottom: 10px;
}

.contact-page a {
  color: grey;
  text-decoration: underline;
}

.bio-image-container {
  float:left;
  min-height: 200px;
  min-width: 200px;
}

.bio-image {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.bio-text {
  line-height: 1.5;
}

.project-text-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .2s ease;
  background-color: rgba(0, 0, 0, .6);;
  opacity: 0;
}

.project-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery-header {
  margin-bottom: 15px;
}